.about{
    padding:0 0 120px;
}

.about-wrapper{
    display:grid;
    grid-template-columns:420px 1fr;
    align-items:center;
    gap:60px;
}

.about-image{
    text-align:center;
}

.about-image img{
    width:100%;
    max-width:420px;
    height:auto;
    object-fit:contain;

    filter:
    drop-shadow(0 0 20px rgba(0,229,255,.15));
}

.about-content h3{
    font-size:34px;
    margin-bottom:20px;
}

.about-content p{
    color:#9ca3af;
    line-height:1.9;
    margin-bottom:20px;
}

.about-stats{
    display:flex;
    gap:40px;
    margin-top:35px;
    flex-wrap:wrap;
}

.about-stats h4{
    font-size:32px;
    color:#00e5ff;
    margin-bottom:5px;
}

.about-stats span{
    color:#9ca3af;
    font-size:14px;
}

@media(max-width:991px){

    .about-wrapper{
        grid-template-columns:1fr;
        text-align:center;
        gap:40px;
    }

    .about-image img{
        max-width:300px;
        margin:0 auto;
    }

    .about-stats{
        justify-content:center;
        flex-wrap:wrap;
        gap:25px;
    }
}

@media(max-width:576px){

    .about-content h3{
        font-size:28px;
    }

    .about-stats h4{
        font-size:26px;
    }
}

.about-image{
    position: relative;
}

.about-image::before{
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: rgba(0,229,255,.15);
    filter: blur(100px);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.about{
    position: relative;
    overflow: hidden;
}

.about::before{
    content:"</>";
    position:absolute;
    top:10%;
    right:8%;
    font-size:120px;
    color:rgba(0,229,255,.10);
    font-weight:700;
}

.about::after{
    content:"{ }";
    position:absolute;
    bottom:10%;
    left:5%;
    font-size:100px;
    color:rgba(0,229,255,.10);
    font-weight:700;
}