.contact{
    padding:0 0 120px;
}

.contact-wrapper{
    display:grid;
    grid-template-columns:1fr 1.2fr;
    gap:30px;
}

.contact-info,
.contact-form{
    padding:35px;
    border-radius:20px;

    background:
    linear-gradient(
      135deg,
      rgba(21,26,46,.8),
      rgba(11,11,11,.9)
    );

    border:1px solid rgba(255,255,255,.08);
}

.contact-info h3{
    font-size:30px;
    margin-bottom:20px;
}

.contact-info p{
    color:#9ca3af;
    line-height:1.8;
    margin-bottom:30px;
}

.info-item{
    margin-bottom:25px;
}

.info-item h4{
    color:#00e5ff;
    margin-bottom:8px;
}

.info-item a,
.info-item span{
    color:#9ca3af;
    text-decoration:none;
}

.form-group{
    margin-bottom:20px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px 18px;

    background:rgba(255,255,255,.03);
    border:1px solid rgba(255,255,255,.08);
    border-radius:12px;

    color:#fff;
    outline:none;

    transition:.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:rgba(0,229,255,.5);
    box-shadow:0 0 15px rgba(0,229,255,.1);
}

.contact-form textarea{
    resize:none;
}

.btn{
    display:inline-block;
     padding: 15px 24px;
  border-radius: 50px;
  background: linear-gradient(90deg, #27c0d1 0%, #7b5cff 70%);
  color: #fff;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.btn:hover{
    transform:translateY(-3px);

    box-shadow:
    0 0 20px rgba(0,229,255,.25);
}

.success-message{
    margin-top:20px;
    padding:14px 18px;

    border:1px solid rgba(34,197,94,.3);
    background:rgba(34,197,94,.08);

    border-radius:12px;
    color:#22c55e;
}

/* Tablet */

@media(max-width:992px){

    .contact-wrapper{
        grid-template-columns:1fr;
    }
}

/* Mobile */

@media(max-width:576px){

    .contact{
        padding:0 0 80px;
    }

    .contact-info,
    .contact-form{
        padding:25px;
    }

    .contact-info h3{
        font-size:26px;
    }

    .btn{
        width:100%;
    }
}