img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Container */

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  /* z-index: 1000;
  background: rgba(11, 11, 11, 0.7);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08); */
}

/* Navbar */

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: rgba(11, 11, 11, 0.7); */
  background: linear-gradient(to top, #0b0b0b 0%, #111827 60%, #151a2e 100%);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin: 20px 0;
  padding: 0 30px;
  border-radius: 20px;
}

.logo img {
  height: 60px;
  width: 270px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links a {
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover {
  
  color:#27c0d1;
}

.hire-btn {
  padding: 12px 24px;
  border-radius: 50px;
  background: linear-gradient(90deg, #27c0d1 0%, #7b5cff 70%);
  color: #fff;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 124px;
  text-align: center;
}

.hire-btn:hover {
  transform: translateY(-2px);
  box-shadow:
    0 0 20px rgba(0, 229, 255, 0.3),
    0 0 30px rgba(123, 92, 255, 0.3);
}

/* Hamburger */

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
}

.menu-toggle span {
  width: 28px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s ease;
}

/* Animate Hamburger */

.menu-toggle.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-btn {
  display: none;
}

/* Tablet */

@media (max-width: 991px) {
  .desktop-btn {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 97vh;
    background: #0b0b0b;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    transition: 0.4s ease;
    z-index: 1000;
    border-left: 1px solid rgba(255,255,255,0.08);
  }

  .nav-links.active {
    right: 0;
    border-radius:14px;
  }

  .nav-links a {
    font-size: 20px;
  }

  .mobile-btn {
    display: block;
    margin-top: 20px;
  }

  .navbar {
    height: 70px;
    padding: 0 20px;
  }

  .logo img {
    width: 200px;
    height: auto;
  }
}

/* Mobile */

@media (max-width: 576px) {
  .nav-links {
    width: 260px;
    height: 80vh;
  }

  .logo img {
    width: 160px;
  }

  .navbar {
    border-radius: 16px;
    margin: 12px 0;
  }
}