*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family: "Space Grotesk", sans-serif;
  background:#050b18;
  color:#fff;
}

h2{
  font-size:44px;
  margin-bottom:20px;
}